<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="K2LoginString" value="Integrated=False;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Port=5252;SecurityLabelName=k2sql;UserID=999999;Password=999999" />
    <add key="K2ServiceString" value="Integrated=False;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Port=5555;SecurityLabelName=K2SQL;UserID=999999;Password=999999" />
    <add key="APIKEY" value="test" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHRService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hrapi.a.alpha.dp/WCF/HRService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHRService"
        contract="EmployeeService.IHRService" name="BasicHttpBinding_IHRService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>