<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DP_BPM_K2Sln" connectionString="Data Source=192.168.8.71;Initial Catalog=DP_BPM_K2Sln;Persist Security Info=True;User ID=k2admin;Password=1qazXSW@;" providerName="System.Data.SqlClient" />
    <add name="K2ServerConnectionString" connectionString="Data Source=192.168.8.71;Initial Catalog=K2Server;Persist Security Info=True;User ID=k2admin;Password=1qazXSW@;" providerName="System.Data.SqlClient" />
    <add name="K2ServerLogConnectionString" connectionString="Data Source=192.168.8.71;Initial Catalog=K2ServerLog;Persist Security Info=True;User ID=k2admin;Password=1qazXSW@;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>